.searchbar{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* background: linear-gradient(180deg, #fde1ff 0%, #e1ffea22 60%); */
    gap: 30px;
    padding-top: 30px;
    /* width: 730px;
    height: 70px; */
    
}

.searchbar div input{
    display: inline-block;
    width: 300px;
    /* margin-left: 30px;
    border-radius: 5px;
    border: 1px solid black;
    outline: none; */
    /* color: #616161; */
    /* font-family: poppins;
    font-size: 16px;
    height: 40px;
    margin-right: 1px; */
}

.searchbar div button{
    /* width: 150px; */
    /* height: 40px; */
    /* border-radius: 10px; */
    background-color: rgb(132, 0, 255);
    color: white;
    border-color: rgb(132, 0, 255);
    cursor: pointer;
    transition: background-color 0.3s;
}

.searchbar div button:hover {
    background-color: rgba(132, 0, 255, 0.8);
}

.searchbar div button:active {
    background-color: rgba(132, 0, 255, 0.8);
    color: white;
    outline: none;
}

.searchbar div button:focus {
    background-color: rgba(132, 0, 255, 0.8);
    color: white;
    outline: none;
}

