.header{
    display: flex;
    justify-content: space-around;
    padding: 16px;
    box-shadow: 0 1px 3px -2px black;
}

.head-logo{
    display: flex;
    align-items: center;
    gap: 10px;
}

.head-logo img{
    height: 80px;
    padding-top: 20px;
}

.p1{
    color: #171717;
    font-size: 38px;
    font-weight: 600;
}

.p2{
    color: #171717;
    font-size: 20px;
    font-weight: 400;
    margin-top: -20px;
}
